@charset "utf-8";

footer {
  a:hover {
    color: white;
  }
  .attention-item {
    padding: 10px;
    color: white;
  }
  
  .sns-link {
    padding: 10px;
    color: white;
  }
  
  .author {
    color: white;
  }
}

