@charset "utf-8";

.efc-logo-image {
  display: flex;
  padding: initial;
  height: 100%;
  width: 120px;
}
.navbar-burger {
  color: white;
}
.navbar {
  background-color: $header-color;
  @include tablet {
    padding: 0 32px;
  }
  @include mobile {
    padding: 0 16px;
  }
}
.navbar-menu {
  background-color: $header-color;
}
.navbar-dropdown {
  background-color: $header-color;
}
.navbar-item {
  color: white
}
.navbar-link {
  color: white
}
.navbar-dropdown.navbar-item {
  color: $header-color
}
