@charset "utf-8";

.home {
	padding: 10px;
}

.home-title {
	margin-top: 40px;
  color: white;
}

.home-description {
	margin-top: 15px;
	color: white;
}

.home-description-picture {
	margin: 0 auto;
	min-width: 300px;
	max-width: 500px;
	padding: 20px 10px;
}

.efc-login {
	margin: 10px;
	padding: 10px;
}

.efc-sign-up {
	margin: 10px;
	padding: 20px 30px;
}
