@charset "utf-8";

.matches.box {
  padding: 0.75rem;
}
.columns:not(:last-child) {
  margin-bottom: initial;
}
.score {
  font-size: 25px;
  padding: initial;
}
.score-bar {
  padding: initial;
}
.team-select-button {
  padding-top: 50px;
}
.display-no-teams {
  padding-top: 50px;
}
