@charset "utf-8";

.teams-list {
  color: white;
  margin: 20px 0;
  text-align: center;
}

.tab_contents {
	display: none;
}

.tab_contents.is-show {
	display: block;
}

.box {
  @include mobile {
    margin: 30px 15px;
  }
  @include tablet {
    margin: 30px 100px;
  }
}

.fav_button.column {
  padding: initial;
}

.team_name.column {
  padding: initial;
}

.tab_item {
  height: 65px;
  width: calc(100% / 5);
  background-color: white;
}

.premier-logo {
  width: 40px;
}
.leaguea-logo {
  width: 27px;
}
.bundes-logo {
  width: 40px;
}
.seriea-logo {
  width: 23px;
}
.liga-logo {
  width: 40px;
}
