// Place all the styles related to the Teams controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tab_contents {
	display: none;
}

.tab_contents.is-show {
	display: block;
}

.box {
	margin: 30px;
}
